

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}


.container {
   height: 100%;
   position: relative;
   background: whitesmoke;
}


.map{
   bottom:0px;
   height: 100%;
   left: 362px;
   position: absolute;
   right: 0px;
}

.options-box {

        margin: 0;
        background: whitesmoke;
        height: 100%;
        line-height: 35px;
        padding: 1%;
        text-align: left;
        max-width: 20%;
      }

.placesButton {
       
      }

.placesDiv {
     height: 80%;
      }

.attDiv {
      height: 10%;
      font-size: 12px;  
      }